<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="main-box">
    <h2>Form Page</h2>
    <form action="">
            <h3>Model</h3><input type="text" name="model" placeholder="Enter your car's model" class="form-control">
            <h3>Make</h3><input type="text" name="make" placeholder="Enter your car's make" class="form-control">
            <h3>Color</h3><input type="text" name="color" placeholder="Enter your car's color/colors" class="form-control"><br>
            <input type="submit" value="Create" class="btn btn-warning">
        </form>

    </div>
    <nav>
            <div id="navbar">
                <a href="/" class="col">Home</a>
                <a href="/cars" class="col">Cars</a>
                <a href="/cats" class="col">Cats</a>
                <a href="/cars/new" class="col">New Car</a>
            </div>
        </nav>

</body>
</html>