<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="cat-content">
    <h2>Cats Twitter</h2>
        <h3>Cat 1:</h3>
        <a href="/cats/0" class="col"><img src="/images/maxresdefault.jpg" alt="cat1" height="200" width="300"></a>
        <h3>Cat 2:</h3>
        <a href="/cats/1" class="col"><img src="/images/raw.png" alt="cat2" height="200" width="300"></a>
        <h3>Cat 3:</h3>
        <a href="/cats/2" class="col"><img src="/images/smudgey.jpg" alt="cat3" height="200" width="300"></a>
        <h3>Cat 4:</h3>
        <a href="/cats/3" class="col"><img src="/images/spaghetti.jpg" alt="cat3" height="200" width="300"></a>
    </div>
    <nav>
            <div id="navbar">
                <a href="/" class="col">Home</a>
                <a href="/cats/0" class="col">Cat 1</a>
                <a href="/cats/1" class="col">Cat 2</a>
                <a href="/cats/2" class="col">Cat 3</a>
                <a href="/cats/3" class="col">Cat 4</a>
                <a href="/showcat" class="col">Show Cats</a>
            </div>
        </nav>

</body>
</html>